
<!-- AUTOR NATAN DE OLIVEIRA PEREIRA DA SILVA -->
<!-- CONTATO NATAN673@GMAIL.COM */ -->

<!DOCTYPE html>
<html lang="en" ng-app="MEDapp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Painel Simulados</title>
	<link rel="stylesheet" href="includes/css/master.css">
	<link rel="stylesheet" href="includes/css/lightbox.css">
</head>
<body ng-controller="MEDappController" ng-style="{'font-size': textSize + 'px'}">
	<div class="container" ng-init="obterSimulados()">
		<header>
			<img src="includes/img/simulados.png" alt="Simulados MEDGRUPO" class="simuladoTexto">
			<img src="includes/img/logo.png" alt="MEDGRUPO Logo" class="MedGrpLogo">
		</header>
		<main>
			<nav>
				<div>
					<button ng-click="changeTextSize('-')">A-</button>
					<button ng-click="changeTextSize('+')">A+</button>
				</div>
				<h2>Simulados de 2008</h2>
				<div id="accordion">
					<h3>Simulado 10</h3>
						<div>
							<p>Prova Objetiva</p>
							<p>Prova Final</p>
						</div>
					<h3>Simulado 9</h3>
					<div>
						<p>Prova Objetiva</p>
						<p>Prova Final</p>
					</div>
					<h3>Simulado 8</h3>
					<div>
						<p>Prova Objetiva</p>
						<p>Prova Final</p>
					</div>
					<h3>Simulado 7</h3>
					<div>
						<p>Prova Objetiva</p>
						<p>Prova Final</p>
					</div>
					<h3>Simulado 6</h3>
					<div>
						<p>Prova Objetiva</p>
						<p>Prova Final</p>
					</div>
					<h3>Simulado 5</h3>
					<div>
						<p>Prova Objetiva</p>
						<p>Prova Final</p>
					</div>
					<h3>Simulado 4</h3>
					<div>
						<p>Prova Objetiva</p>
						<p>Prova Final</p>
					</div>
					<h3>Simulado 3</h3>
					<div>
						<p>Prova Objetiva</p>
						<p>Prova Final</p>
					</div>
					<h3>Simulado 2</h3>
					<div>
						<p>Prova Objetiva</p>
						<p>Prova Final</p>
					</div>
					<h3>Simulado 1</h3>
					<div>
						<p>Prova Objetiva</p>
						<p>Prova Final</p>
					</div>
				</div>
			</nav>
			<section class="apresentacao">
				<div>
					<h1>SIMULADO 5 - PROVA OBJETIVA</h1>
					<p>Os resultados do simulado são atualizados diariamente, na medida em que os
						cartões-resposta e as provas discursivas vão sendo são processados.</p>
						<br>
					<p>Através dos filtros, você poderá criar rankings personalizados, por ESPECIALIDADE,
						TURMA(Curso) e UNIDADE (Cidade).</p>
				</div>
				<br><br>
				<div class="procurarMatricula">
					<p>Entre com sua matricula: </p>
					<form><input type="text" class="campoMatricula" ng-init="matModel = '' " ng-model=" matModel"> <input type="submit"
							value="procurar" class="botaoProcurar"></form>
				</div><br><br>
				<div>
					<p>Filtrar por:</p>
					<select name="" id="SelectFiltroEsp" ng-init="espModel=''" ng-model="espModel" ng-change="filter()">
						<option value="">Especialidades - TODAS</option>
						<option value="{{especialidade}}" ng-repeat="especialidade in especialidadesFiltro">{{especialidade}}</option>
					</select>
					<select name="" id="SelectFiltroFil" ng-init="filModel=''" ng-model="filModel" ng-change="filter()">
						<option value="">Filiais - TODAS</option>
						<option value="{{filial}}" ng-repeat="filial in filiaisFiltro">{{filial}}</option>
					</select>
					<select name="" id="SelectFiltroTur" ng-init="turModel=''" ng-model="turModel" ng-change="filter()">
						<option value="">Turmas - TODAS</option>
						<option value="{{turma}}" ng-repeat="turma in turmasFiltro">{{turma}}</option>
					</select>
				</div>
			</section>
			<section class="sectionTabelaSimulados">
				<a href="#" ng-click="imprimir()">imprimir</a> | <a href="#" ng-click="showLightBox = true">enviar para um amigo</a>
				<p class="simuladosEncontrados">{{MSGquantidadeSimulados}}</p>

				<div class="opcoesTabela">
					<p>1º a 4º</p>
					<button><</button>
					<button>></button>

					<p>ir para: <input type="text" name="" id=""> </p>

					<p>mostrar: <select name="" id="">
						<option value="0">todos</option>
					</select></p>
				</div>
				<table class="tabelaSimulados">
					<thead>
						<tr>
							<td>posição</td>
							<td>nota</td>
							<td>matricula</td>
							<td>especialidade</td>
							<td>turma</td>
							<td>filial</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="simulado in listaSimulados | filter:{filial:filModel, matricula:matModel, especialidade:espModel, turma:turModel }">
							<td>{{simulado.position}}</td>
							<td>{{simulado.nota}}</td>
							<td>{{simulado.matricula}}</td>
							<td>{{simulado.especialidade}}</td>
							<td>{{simulado.turma}}</td>
							<td>{{simulado.filial}}</td>
						</tr>
					</tbody>
				</table>
				<div class="opcoesTabela">
					<p>1º a 4º</p>
					<button><</button>
					<button>></button>

					<p>ir para: <input type="text" name="" id=""> </p>

					<p>mostrar: <select name="" id="">
						<option value="0">todos</option>
					</select></p>
				</div>
				<a href="#" ng-click="imprimir()">imprimir</a> | <a href="#" ng-click="showLightBox = true">enviar para um amigo</a>
				<a href="#" class="toTOP">TOP</p>
			</section>

			<lightbox-directive class="angular-lightbox" ng-class="{ hidden : !showLightBox }">
				<article>
					<h1>Hello World !!</h1>
				</article>
			</lightbox-directive>
		</main>
	</div>
	<script src="includes/js/jquery.min.js"></script>
	<script src="includes/js/jquery-ui.js"></script>
	<script src="includes/js/angular.js"></script>
	<script src="includes/js/core.js"></script>
	<script>
		$(function () {
			$("#accordion").accordion();
		});
	</script>
</body>
</html>