/* // AUTOR NATAN DE OLIVEIRA PEREIRA DA SILVA
// CONTATO NATAN673@GMAIL.COM */

.angular-lightbox.hidden {
    display: none;
}

.angular-lightbox section {
    position: fixed;
    z-index: 100065;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.angular-lightbox section article{
    text-align: center;
}
.angular-lightbox section article h1{
    color: white;
    margin: 200px auto;
    font-size: 40px;
}