/* // AUTOR NATAN DE OLIVEIRA PEREIRA DA SILVA
// CONTATO NATAN673@GMAIL.COM */
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    background-image: url('../img/bck.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.container{
    width: 70%;
    margin: 0 auto;
}

.container header{
    position: relative;
    height: 100px;
}
.container header .MedGrpLogo{
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -28px;
}
.container header .simuladoTexto{
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -5px;
}
.container main{
    position: relative;
    padding: 50px;
    background-color: #fff;
}
.container main nav{
    width: 170px;
    height: 410px;
}
.container main nav h3{
    /*font-size: 11px;*/
    cursor: pointer;
    margin-top: 10px;
}

.container main nav div p{
    text-indent: 15px;
    display: block;
    cursor: pointer;
}

.container main section.apresentacao{
    position: absolute;
    top: 60px;
    left: 230px;
    width: 70%;
}
.container main section.apresentacao h1{
    text-align: center;
}
.container main section.apresentacao p{
    width: 400px;
}
.container main section.apresentacao div.procurarMatricula{
    background-color: #ecf1f9;
    padding: 10px 20px;
}

.container main section.apresentacao div.procurarMatricula p{
    display: inline;
    /*font-size: 12px;*/
    font-weight: bold;
    margin-right: 10px;
}
.container main section.apresentacao div.procurarMatricula form{
    display: inline;
}

.container main section.apresentacao div.procurarMatricula form input.campoMatricula{
    border: 1px solid #a8b9d4;
}
.container main section.apresentacao div.procurarMatricula form input.botaoProcurar{
    border-radius: 4px;
    border: 0px solid #000;
    background-color: #3e3e3e;
    color: #fff;
    padding: 2px 5px;
    cursor: pointer;
    /*font-size: 11px;*/
}

.container main section.sectionTabelaSimulados {
    position: relative;
}
.container main section.sectionTabelaSimulados a {
    color: #999999;
}


.container main section.sectionTabelaSimulados .simuladosEncontrados, .container main section.sectionTabelaSimulados .toTOP {
    display: inline;
    right: 0px;
    position: absolute;
    margin: 0;
    color: #000;
}

.container main section.sectionTabelaSimulados .opcoesTabela {
    background-color: #f1f1f1;
    position: relative;
    padding: 8px 10px;
    margin-top: 2px;
    position: relative;
    color: #666666;
}
.container main section.sectionTabelaSimulados .opcoesTabela a:last-child{
    position: absolute;
    right: 8px;
    color: #666666;
}

.container main section.sectionTabelaSimulados .opcoesTabela p {
    display: inline;
}

.container main section.sectionTabelaSimulados .tabelaSimulados{
    width: 100%;
    border: 1px solid #aebfd9;
}
.container main section.sectionTabelaSimulados .tabelaSimulados thead{
    text-transform: uppercase;
    font-weight: bold;
    background-color: #ccc;
}


/* PARA IMPRESSAO  */


.tabelaSimulados {
    width: 100%;
    border: 1px solid #aebfd9;
}

.tabelaSimulados thead {
    text-transform: uppercase;
    font-weight: bold;
    background-color: #ccc;
}